.testBox {
  padding: 10px;
  .counterStoreBox {
    border: 1px solid #ccc;
    padding: 10px;
    .age {
      display: inline-block;
      padding: 0 10px;
    }
  }

  .channelStoreBox {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
}
